body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

p {
  font-size: 13px;
}

table {
  font-size: 14px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 414px) {
  body {
    font-size: 12px;
  }
  p {
    font-size: 11px;
  }
  table {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
  p {
    font-size: 9px;
  }
  table {
    font-size: 10px;
  }
}


table th {
  font-weight: 600;
}

table th, table td {
  padding: 2px 4px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(even) {
  background-color: #f6f8fa;
}

table.entrants tr td:first-child {
  text-align: left;
}

table.fastest tr td:nth-child(2),
table.craft tr td:nth-child(2),
table.status tr td:nth-child(2) {
  text-align: left;
}
table.fastest tr td:last-child,
table.craft tr td:last-child,
table.status tr td:last-child {
  text-align: right;
}

table.verification tr td:nth-child(2) {
  text-align: left;
}
table.verification tr td:nth-last-child(2) {
  text-align: right;
}
table.verification tr td:last-child {
  text-align: left;
}

table.runs:first-of-type tr td:first-child {
  text-align: left;
}
table.runs:nth-of-type(2) tr td:nth-child(3) {
  text-align: left;
}
table.runs tr td:last-child {
  text-align: right;
}

table.group tr td:nth-child(2) {
  text-align: left;
}
table.group:first-of-type tr td:nth-child(4) {
  text-align: left;
}
table.group tr td:last-child {
  text-align: right;
}

a:link {
  text-decoration: none;
  color: #e64503;
}

a:visited {
  color: #e64503;
}
