body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th {
  font-weight: 600;
}

table th, table td {
  padding: 2px 4px;
  border: 1px solid #dfe2e5;
}
